@import '../../styles';

.overflow {
    overflow: auto;
}

.thumbnail-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    color: $color-text;

    &:hover {
        color: $color-skyblue;
    }
}
