
<div class="container" role="main">
    <div class="darker-container overflow">
        <h1>Galerías</h1>

        <div class="row">
            <div *ngFor="let gallery of galleries"
                 class="col-lg-6 col-xs-12 thumbnail-container">
                <a class="thumbnail" href="#"
                   [routerLink]="'/galeria/' + gallery.id">
                    <img class="img-thumbnail" [src]="'/assets/gallery-' + gallery.id + '.jpg'" alt="image">
                    <br/>
                    {{gallery.name}}
                </a>
            </div>

            <div class="clearfix"></div>

        </div>
    </div>
</div>
