
$color-blue: rgb(0, 57, 116);
$color-skyblue: rgb(154, 202, 235);
$color-golden: rgb(180, 151, 90);
$color-black: rgb(0, 0, 0);
$color-grey: rgb(170, 169, 170);

$color-text: aliceblue;
$color-bright-golden: rgb(255, 170, 51);

html,
body {
    background:  url("/assets/portada.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
}
body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba($color-black, .5);
    padding-top: 70px;
    padding-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100%;
}

.darker-container {
    background: rgba($color-blue, 0.8);
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(darken($color-blue, 50%), 0.5);
    margin: auto;
}

.kiwanis-modal-outside {
    background-image: url("/assets/modal-outside-bg.png");
}

.kiwanis-modal-inside {
    background-image: url("/assets/modal-inside-bg.png"); 
}
