<div class="container" role="main">
    <div class="darker-container overflow">
        <h2>¿Qué es Kiwanis?</h2>
        <p class="text-justify">
            <q>Kiwanis es una organización global de voluntarios, dedicados a mejorar el mundo, un niño y una comunidad a la vez.</q>
            Organización internacional a la cual estamos vinculados desde hace catorce (14) años.
            En Colombia existen 67 clubes Kiwanis y nosotros pertenecemos a la zona 7 Valle y
            Zona Cafetera del Distrito Andino y Centroamericano (D.A.C.A.), Distrito No. 33.
            <br><br>
            La Familia Kiwanis está conformada por cerca de 8.000 clubes de servicio en 90 naciones y con más de 800.000 miembros.
        </p>

        <h2>¿Quiénes somos?</h2>
        <p class="text-justify">
            Líderes multidisciplinarios, jubilados respetados y acatados, con voluntad de servicio, espíritu alegre,
            corazón generoso, emprendedores, civismo, auto imagen positiva, inquietud por el servicio común,
            sentido de la amistad y camaradería… y: Espíritu solidario, principios éticos, valores morales,
            amantes de la verdad y la vida.
        </p>

        <h2>¿Qué significa ser Kiwanis?</h2>
        <p class="text-justify">
            La organización Kiwanis brinda a sus socios la oportunidad de involucrarse personal y voluntariamente
            en el liderazgo y el mejoramiento de las comunidades y las naciones, por la vía del apoyo a los niños y
            niñas desamparados de nuestra sociedad.
            <br><br>
            Los socios Kiwanis son personas sobresalientes de la sociedad, profesionales activos y emprendedores
            y personas líderes, que reparten su tiempo entre su vida profesional, personal y el servicio a la comunidad.
            <br><br>
            Los socios Kiwanis contribuyen con su entusiasmo, tiempo y esfuerzo para gestionar fondos y recursos
            con destino a  proyectos útiles a la comunidad de niños vulnerables.
        </p>

        <br>
        <p>
            <img src="/assets/logo.png" />
        </p>
    </div>
</div>
