@import '../../styles';

.navbar-inverse {
    background-color: $color-blue;
    border-color: darken($color-blue, 10%);
    background-image: url("/assets/navbar-bg.png");
}
.navbar-brand, .navbar-nav>li>a {
    color: $color-text;
}

.navbar-brand:hover, .navbar-nav>li>a:hover {
    color: $color-skyblue;
}

.social-media-icon {
    padding: 11px;
}

.navbar-logo {
    padding: 5px 15px;
}

.navbar-brand {
    font-size: 1.5rem;
    margin-right: 20px;
}

.nav-item {
    text-transform: uppercase;
    font-weight: 800;
    padding-bottom: 11px;
    margin-left: 5px;
    margin-right: 5px;
    letter-spacing: 1.2px;

    &.active, &:hover {
        //border-bottom: 5px solid;
        //text-decoration: none;
    }
}

.fa-facebook-official:not(:hover) {
    color: white;
}

.fa-facebook-official:hover {
    color: $color-skyblue;
}
