
<div class="container" role="main">
    <div class="darker-container overflow">
        <div class="intro">
            <h1>Kiwanis<br/>Sultana del Valle - Cali</h1>
            <p id="subtitle" class="lead">
                Kiwanis es una organización global de voluntarios, dedicados a mejorar el mundo, un niño y una comunidad a la vez.
            </p>
            <p>
                <img src="/assets/logo.png" />
            </p>

            <h1>Noticias</h1>
            <div class="row">
                <span class="col-xs-12"
                      *ngFor="let news of newsList; let i = index">
                    <a href="#"
                       class="light-link"
                       data-toggle="modal"
                       data-target="#image-modal"
                       (click)="setSelectedPhoto(i)">
                        <img [src]="news.imagePath"
                             class="img-thumbnail"
                             width="320"
                             height="240"/>
                            <br/>
                            {{news.shortTitle}}
                    </a>
                </span>
            </div>
        </div>

        <app-modal *ngIf="selectedNews"
                   [image]="selectedNews">
        </app-modal>
    </div>
</div>
