
<div class="container" role="main">
    <div class="darker-container overflow">
        <div class="intro">
            <h1>Kiwanis<br/>Sultana del Valle - Cali</h1>
            <p id="subtitle" class="lead">
                Kiwanis es una organización global de voluntarios, dedicados a mejorar el mundo, un niño y una comunidad a la vez.
            </p>
            <p>
                <img src="/assets/logo.png" />
            </p>

            <h2 class="extra-margin-top">Últimas Noticias</h2>

            <div class="row">
                <div class="col-xs-12 col-md-2">
                    <a routerLink="/noticias">
                        <img class="img-thumbnail" src="/assets/news-5/BingoBailableThumb.jpg" />
                    </a>
                </div>
                <div class="col-xs-12 col-md-10">
                    <p class="text-justify">
                        <b>Especial de Agosto!</b>
                        <br/>
                        Participa en nuestro Bingo Bailable Anual el día 6 de agosto!
                        <a routerLink="/noticias">(leer más)</a>
                    </p>
                </div>
            </div>


            <div class="row extra-margin-top">
                <div class="col-xs-12 col-md-2">
                    <a routerLink="/galeria">
                        <img class="img-thumbnail" src="/assets/gallery-3/VacacionesRecreativasThumb.jpeg" />
                    </a>
                </div>
                <div class="col-xs-12 col-md-10">
                    <p class="text-justify">
                        <b>Vacaciones Recreativas, Agosto 2019</b>
                        <br/>
                        Continuamos atendiendo a los niños con nuestro <i>Programa Nutricional y Recreativo</i>.
                        Los costos son cubiertos totalmente por Kiwanis Sultana del Valle.
                        <a routerLink="/galeria">(leer más)</a>
                    </p>
                </div>
            </div>


        </div>
    </div>
</div>
