@import '../../styles';

.container {
    display: flex;
    justify-content: center;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  max-width: 800px;
}

.btn-primary {
    background-color: $color-bright-golden;
}
.btn-primary:hover {
    background-color: darken($color-bright-golden, 20%);
}

.letter-with-shadow {
    text-shadow: 0 0 10px #000, 0 0 10px #000;
}

.light-link {
    color: white;
    &:hover {
        color: $color-skyblue;
    }
}

.dark-text {
    color: black;
}

