
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Kiwanis Cali</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li><a class="nav-item"
                   routerLink="/quienes-somos"
                   routerLinkActive="active">¿Quiénes somos?</a></li>
            <li><a class="nav-item"
                   routerLink="/galeria"
                   routerLinkActive="active">Galerías</a></li>
            <li><a class="nav-item"
                   routerLink="/contactenos"
                   routerLinkActive="active">Contáctenos</a></li>
        </ul>
        <a class="navbar-text social-media-icon my-2 my-sm-0"
           href="https://www.facebook.com/KiwanisSultanaDelValle"
           target="_blank">
            <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
        </a>
        <a class="navbar-text social-media-icon my-2 my-sm-0"
           href="https://twitter.com/kiwanisultana"
           target="_blank">
            <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
        </a>
        <a class="navbar-text social-media-icon my-2 my-sm-0"
           href="https://www.instagram.com/kiwanissultanadelvalle"
           target="_blank">
            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
        </a>
    </div>
</nav>
