
<div class="container" role="main">
<div class="darker-container">
    <h1>Contáctenos</h1>
    <table>
        <tr>
            <td class="contact-icon-cell"><i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i></td>
            <td><b>E-mail:</b><br/>
                <a [href]="emailMailTo">{{ emailAddress }}</a></td>
        </tr>
        <tr>
            <td class="contact-icon-cell"><i class="fa fa-phone fa-3x" aria-hidden="true"></i></td>
            <td><b>Teléfono:</b><br/>
                (+57 2) 888-88-88</td>
        </tr>
        <tr>
            <td class="contact-icon-cell"><i class="fa fa-clock-o fa-3x" aria-hidden="true"></i></td>
            <td><b>Horarios de atención:</b><br/>
                L-V: 8am-6pm S: 9am-2pm</td>
        </tr>
        <tr>
            <td class="contact-icon-cell"><i class="fa fa-map-marker fa-3x" aria-hidden="true"></i></td>
            <td><b>Dirección:</b><br/>
                Calle Principal entrada a la Sirena, Casa # 51 B<br/>
                Cali, Valle del Cauca, Colombia</td>
        </tr>
    </table>

    <!--iframe src="https://www.google.com/maps/embed?pb=!1m17!1m11!1m3!1d4180.4846117856805!2d-76.57673177730808!3d3.4064264918075975!2m2!1f0!2f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e30a475a54c231f%3A0x9699ffe7d95d26d1!2sLA+SIRENA%2C+Cali%2C+Valle+del+Cauca%2C+Colombia!5e1!3m2!1sen!2sus!4v1504846020561" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe-->
</div>
</div>
