@import '../../styles';

.fa {
    padding: 0 10px;
    color: $color-bright-golden;
}

.contact-icon-cell {
    vertical-align: top;
}

h1 {
    margin-top: 0;
}

b {
    border-bottom: 2px solid;
}

a {
    text-decoration: underline;
    color: $color-skyblue;
    &:hover {
        color: $color-golden;
    }
}

iframe {
    border: solid $color-bright-golden;
    margin-right: 1rem;
}

.overflow {
    overflow: auto;
}

// lg+ screens
@media (min-width: 992px) {
    iframe {
        width: 500px;
    }
    .contact-text {
        margin-bottom: 1rem;
    }
}

// xs+ screens
iframe {
    width: 100%;
}

.contact-text {
    margin-bottom: 1rem;
}

.first-row {
    margin-top: 1rem;
}
