
<div class="container" role="main">
    <div class="darker-container">
        <h1>Contáctenos</h1>
        <br/>
        <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3434.962106320529!2d-76.57655998524194!3d3.40970399751811!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zM8KwMjQnMzQuOSJOIDc2wrAzNCcyNy43Ilc!5e1!3m2!1sen!2sus!4v1506316862855"
                    width="400" height="300" frameborder="1" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
        <table border="0">
            <tr>
                <td class="contact-icon-cell"><i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i></td>
                <td><b>E-mail:</b><br/>
                    <a [href]="emailMailTo">{{ emailAddress }}</a>
                </td>
            </tr>
            <tr>
                <td class="contact-icon-cell"><i class="fa fa-phone fa-3x" aria-hidden="true"></i></td>
                <td><b>Teléfono:</b>
                    <br/>
                    (+57) 300-243-1409
                    <br/>
                    (+57) 316-292-8090
                </td>
            </tr>
            <tr>
                <td class="contact-icon-cell"><i class="fa fa-clock-o fa-3x" aria-hidden="true"></i></td>
                <td><b>Horarios de atención:</b><br/>
                    L-V: 8am - 6pm
                    <br>
                    S: 9am - 2pm</td>
            </tr>
            <tr>
                <td class="contact-icon-cell"><i class="fa fa-map-marker fa-3x" aria-hidden="true"></i></td>
                <td><b>Dirección:</b><br/>
                    Calle Principal entrada a la Sirena, Casa # 51 B
                    <br/>
                    Cali, Valle del Cauca, Colombia</td>
            </tr>
        </table>
        </div>
    </div>
</div>
