
<div class="container" role="main">
    <div class="intro">
        <h1 class="cover-heading letter-with-shadow">Kiwanis<br/>Sultana del Valle - Cali</h1>
        <h2 class="lead letter-with-shadow">
            Kiwanis es una organización global de voluntarios, dedicados a mejorar el mundo, un niño y una comunidad a la vez.
        </h2>

        <div>
            <a class="thumbnail" href="#"
               data-toggle="modal"
               data-target="#featured-image">
                <img src="/assets/BonoSolidario-Thumb.jpg">
            </a>
        </div>
    </div>

    <div class="modal fade"
         id="featured-image"
         role="dialog"
         aria-hidden="true">
        <div class="modal-container-full-width"
             data-dismiss="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <img class="img-responsive center-block"
                            src="/assets/BonoSolidario.jpg">
                        <div style="margin-top: 5px;">
                            <a href="#" style="color:#333">Cerrar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
