
<div class="container" role="main">
    <div class="intro">
        <h1 class="cover-heading">Kiwanis Sultana del Valle - Cali</h1>
        <p class="lead">
            Kiwanis es una organización global de voluntarios, dedicados a mejorar el mundo, un niño y una comunidad a la vez
        </p>
        <p>
            <img src="/assets/logo.png" />
        </p>

        <p class="lead">
            <a routerLink="/contactenos"
               routerLinkActive="active"
               class="btn btn-lg btn-primary">Más información</a>
        </p>
    </div>
</div>
