.gallery
{
    display: inline-block;
    margin-top: 20px;
}

.vertical-align {
    margin: auto auto;
}

.page-item {
    cursor: pointer;
}
.modal-container-full-width{
    display: flex;
}
.modal-dialog {
    width: auto;
}
.modal-footer {
    display: flex;
    justify-content: center;
}
.pagination {
    margin: 0;
}
.big-image {
}
img.img-responsive { display: table-cell; max-width: 100%; }
