
<div class="container" role="main">
    <div class="darker-container">
        <h1>Galería</h1>

        <div class="row vertical-align">
            <div *ngFor="let photo of photos | slice:fromPhoto:toPhoto" class="col-lg-4 col-md-4 col-xs-1 thumb">
                <a class="thumbnail" href="#"
                   data-toggle="modal"
                   data-target="#image-gallery"
                   (click)="setSelectedImage(photo + '.jpg')">
                    <img class="img-responsive" [src]="photo + '_thumb.jpg'" alt="image">
                </a>
            </div>

            <div class="clearfix"></div>

            <nav aria-label="Navegación páginas">
                <ul class="pagination">
                    <li *ngFor="let page of pages"
                        class="page-item"
                        [ngClass]="{active: currentPage === page}">
                        <a class="page-link" (click)="gotoPage(page)">{{ page }}</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="modal fade"
             id="image-gallery"
             role="dialog"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <img id="image-gallery-image"
                             class="img-responsive"
                             [src]="selectedImage">
                    </div>
                    <div class="modal-footer">
                        <nav aria-label="Navagación fotos">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" (click)="prevPhoto()">Anterior</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" (click)="nextPhoto()">Siguiente</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
