.gallery
{
    display: inline-block;
    margin-top: 20px;
}

.page-item {
    cursor: pointer;
}

.modal-container-full-width{
    display: flex;
}

.modal-dialog {
    width: auto;
}

.overflow
{
    overflow: auto;
}
.container
{
    height: 90%;
}
