.gallery
{
    display: inline-block;
    margin-top: 20px;
}

.vertical-align {
    margin: auto auto;
}

.page-item {
    cursor: pointer;
}

.modal-footer {
    display: flex;
    justify-content: center;
}
.pagination {
    margin: 0;
}
