
<div class="container" role="main">
    <div class="darker-container overflow">
        <h1>Contáctenos</h1>
        <br/>

        <span *ngIf="!emailFormShown">
            <div class="alert alert-success" role="alert"
                 *ngIf="emailSent">
                Su E-mail ha sido enviado exitosamente! Gracias por contactarse con nosotros.
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3434.962106320529!2d-76.57655998524194!3d3.40970399751811!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zM8KwMjQnMzQuOSJOIDc2wrAzNCcyNy43Ilc!5e1!3m2!1sen!2sus!4v1506316862855"
                            height="300" frameborder="1" allowfullscreen></iframe>
                </div>
            </div>

            <div class="row first-row">
                <div class="col-sm-2 col-lg-1 contact-icon-cell"><i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i></div>
                <div class="col-sm-1"></div>
                <div class="col-sm-9 col-lg-10 text-center text-lg-left contact-text"><b>E-mail:</b><br/>
                    <a [href]="emailMailTo">{{ emailAddress }}</a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 col-lg-1 contact-icon-cell"><i class="fa fa-phone fa-3x" aria-hidden="true"></i></div>
                <div class="col-sm-1"></div>
                <div class="col-sm-9 col-lg-10 text-center text-lg-left contact-text"><b>Teléfono:</b>
                    <br/>
                    (+57) 300-243-1409
                    <br/>
                    (+57) 316-292-8090
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 col-lg-1 contact-icon-cell"><i class="fa fa-clock-o fa-3x" aria-hidden="true"></i></div>
                <div class="col-sm-1"></div>
                <div class="col-sm-9 col-lg-10 text-center text-lg-left contact-text"><b>Horarios de atención:</b><br/>
                    L-V: 8am - 6pm
                    <br>
                    S: 9am - 2pm</div>
            </div>

            <div class="row">
                <div class="col-sm-2 col-lg-1 contact-icon-cell"><i class="fa fa-map-marker fa-3x" aria-hidden="true"></i></div>
                <div class="col-sm-1"></div>
                <div class="col-sm-9 col-lg-10 text-center text-lg-left contact-text"><b>Dirección:</b><br/>
                    Calle Principal entrada a la Sirena<br/>
                    Casa # 51 B
                    <br/>
                    Cali, Valle del Cauca, Colombia</div>
            </div>

            <form>
                <div class="form-group">
                    <button type="submit"
                            class="btn btn-primary"
                            (click)="showEmailForm()">Contáctenos</button>
                </div>
            </form>
        </span>

        <span *ngIf="emailFormShown">
            <div class="alert alert-danger" role="alert"
                 *ngIf="sendingEmailError">
                Ocurrió un error enviando su mensaje.<br/>
                Por favor contáctenos por estos medios:<br/>
                <strong>Teléfonos:</strong> (+57) 300-243-1409 o (+57) 316-292-8090<br/>
                <strong>E-mail:</strong> {{ emailAddress }}
            </div>
            <form>
                <div class="form-group">
                    <label for="name">Nombre*</label>
                    <input required #spy
                           id="name"
                           name="name"
                           type="text"
                           placeholder="Nombre"
                           class="form-control"
                           [(ngModel)]="formData.name"
                           [disabled]="sendingEmail"/>
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input id="email"
                           name="email"
                           type="email"
                           placeholder="E-mail"
                           class="form-control"
                           [(ngModel)]="formData.email"
                           [disabled]="sendingEmail"/>
                </div>
                <div class="form-group">
                    <label for="phone">Teléfono</label>
                    <input id="phone"
                           name="phone"
                           type="text"
                           placeholder="Teléfono"
                           class="form-control"
                           [(ngModel)]="formData.phone"
                           [disabled]="sendingEmail"/>
                </div>
                <div class="form-group">
                    <label for="message">Mensaje*</label>
                    <textarea required
                              id="message"
                              name="message"
                              type="text"
                              rows="6"
                              class="form-control"
                              [(ngModel)]="formData.message"
                              [disabled]="sendingEmail"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit"
                            class="btn btn-primary"
                            (click)="sendEmail()"
                            [disabled]="!canSubmit()"
                            *ngIf="!sendingEmail">
                        Enviar mensaje
                    </button>
                    <button type="submit"
                            disabled
                            class="btn btn-primary"
                            (click)="sendEmail()"
                            *ngIf="sendingEmail">
                        <i class="fa fa-spinner fa-spin"></i>
                        Enviando mensaje...
                    </button>
                </div>
            </form>
        </span>
    </div>
</div>
