
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Kiwanis Cali</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#about">Quiénes somos</a></li>
                <li><a href="#about">Galería</a></li>
                <li><a href="#contact">Contáctenos</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container" role="main">

  <div class="intro">
    <h1 class="cover-heading">Kiwanis Sultana del Valle - Cali</h1>
    <p class="lead">
      Kiwanis es una organización global de voluntarios, dedicados a mejorar el mundo, un niño y una comunidad a la vez
    </p>
    <p>
      <img src="/assets/logo.png" />
    </p>

    <p class="lead">
      <a href="#" class="btn btn-lg btn-primary">Más información</a>
    </p>
  </div>

</div>
<div class="footer">
    <p>Calle Principal entrada a la Sirena, Casa # 51 B<br/>Cali, Valle del Cauca, Colombia</p>
</div>
