
.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar-inverse {
    background-color: rgb(0, 57, 116);
    border-color: rgb(0, 43, 86);
}
.navbar-brand, .navbar-nav>li>a {
    color: aliceblue;
}
.navbar-nav>.active>a {
  background-color: inherit;
}

.navbar-brand:hover, .navbar-nav>li>a:hover {
  color: rgb(154, 202, 235);
}

.container {
  display: flex;
  justify-content: center;
}

.container[role=main] {
  align-items: center;
  height: 100%;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  max-width: 800px;
}

.btn-primary {
  background-color: rgb(255, 170, 51);
}
.btn-primary:hover {
  background-color: rgb(245, 171, 69); /* rgb(180, 151, 90); */
}
