@import '../../styles';

.gallery {
    display: inline-block;
    margin-top: 20px;
}

.page-item {
    cursor: pointer;
}

.modal-container, .modal-container-full-width {
    display: flex;
}

.modal-dialog {
    width: auto;
}

.overflow
{
    overflow: auto;
}

.pager-nav {
    padding-top: 10px;
    margin: auto;
}

.thumbnail-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

a.page-link, a.page-link:hover {
    color: $color-blue;
}
