
<div class="container" role="main">
  <div class="darker-container overflow">
      <h2>Noticias</h2>

      <p class="text-justify"><b>Abril 2019</b></p>
      <p class="text-justify">
        BONO Pro Jardin Infantil en la Sirena, Kiwanis Sultana del Valle.
      </p>
      <p class="text-justify">
        <b>Consignaciones en Banco Colombiano:</b>
      </p>
      <div style="margin-left: 2rem; text-align: left">BANCOLOMBIA</div>
      <div style="margin-left: 2rem; text-align: left">Cuenta de Ahorros</div>
      <div style="margin-left: 2rem; text-align: left">FUNDACION KIWANIS</div>
      <div style="margin-left: 2rem; text-align: left">#829 556 730-06</div>
      <br/>
      <p class="text-justify">
        Son $20.000.oo cada bono. Cuadro al óleo expuesto en Pasoancho #65-B-16, Cali.<br/>
        Con la copia de la consignación vía este medio, tendrán  facsímil para reclamar el premio.<br/>
        Espero el apoyo de todos sin falta.<br/>
        Muchísimas gracias.<br/>
        Un abrazo.
      </p>
      <div>
        <img src="/assets/news-3/BonoDonacion.jpg" class="img-thumbnail" width="640" />
      </div>
      <p style="text-align: center;">
        <b>Otros contactos:</b><br/>
        <i class="fa fa-phone fa-fw"></i>(+57) 315 5792021 <i class="fa fa-phone fa-fw"></i>(+57) 316 2928090
        <br/>
      </p>

      <p class="text-justify"><b>Febrero 2019</b></p>
      <p class="text-justify">
        Adelantamos en nuestra Fundación Kiwanis Sultana del Valle programas para la Formación Integral de ñiños y niñas, con énfasis en valores humanos, respeto mutuo, participación con y para la comunidad y entornos ecológicos. Nuestros socios Voluntarios están permanentemente actuando para hacer del Jardín un espacio que permita el desarrollo de los niños en ambientes que mejoran su calidad de vida y el de su entorno familiar. Recuerden que siempre estamos necesitando de ustedes. Muchísimas gracias a quienes nos han apoyado y bienvenidas nuevas manos de respaldo.
        <br/>
        <br/>
        Que Dios los continúe bendiciendo.
      </p>
      <div>
        <img *ngFor="let image of imagesNews2"
             [src]="getThumbUrl(2, image)" class="img-thumbnail" width="320" height="240" />
      </div>

      <p class="text-justify"><b>Enero 2019</b></p>
      <p class="text-justify">
        En el mes de enero, reiniciamos actividades con los niños del Jardín Kiwanis en la Sirena. Hubo convocatoria a representantes de los infantes: padre/madre y/o accidentes. Presidente de Kiwanis Sultana, Coordinadora del Jardín y Profesoras intervinieron en el Conversatorio.
      </p>
      <div>
        <img *ngFor="let image of imagesNews1"
             [src]="getThumbUrl(1, image)" class="img-thumbnail" width="320" height="240" />
      </div>
  </div>
</div>
